<div class="guide">
	<h3>Comment obtenir votre token :</h3>
	<ol>
		<li>Connectez-vous à Fierfly-III (money.vagahbond.com)</li>
		<li>Allez dans Options > Profile > OAuth</li>
		<li>Générez un nouveau token sous "Personal access tokens"</li>
		<li>
			<b>Ne cliquez qu'une fois, le token va mettre du temps à apparaître et c'est normal!</b>
		</li>
		<li>Copiez le token ci-dessous</li>
		<li>
			<b>
				Gardez le token quelque part (ex: pass.vagahbond.com). Cette page vous le re-demandera !
			</b>
		</li>
	</ol>
</div>
